<div class="product-details-container">
    <div class="center-container">
        <div class="product-image-container">
            <button class="btn btn-primary back-button" (click)="goBack()">
                <fa-icon [icon]="faArrowLeft"></fa-icon> Back
            </button>
            <img [src]="product?.productImageUrl" class="img-fluid rounded-start" alt="product?.productTitle">
        </div>
        <div class="card mb-3 product-content-container">
            <div class="card-body">
                <h5 class="card-title">{{ product?.productTitle }}</h5>
                <div class="row">
                    <div class="col-md-12">
                        <p class="card-text">{{ product?.productDescription }}</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <label>Location:</label>
                    </div>
                    <div class="col-md-9">
                        <p class="card-text"><small class="text-muted">{{ locationName }}</small></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Rating:</label>
                    </div>
                    <div class="col-md-9">
                        <p class="card-text"><small class="text-muted">{{ product?.productRating }}</small></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Price:</label>
                    </div>
                    <div class="col-md-9">
                        <p class="card-text"><small class="text-muted">{{ product?.productPrice }}</small></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Category:</label>
                    </div>
                    <div class="col-md-9">
                        <p class="card-text"><small class="text-muted">{{categoryName}}</small></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Review:</label>
                    </div>
                    <div class="col-md-9">
                        <p class="card-text"><small class="text-muted">{{ product?.productReview }}</small></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Last updated:</label>
                    </div>
                    <div class="col-md-9">
                        <p class="card-text"><small class="text-muted">3 mins ago</small></p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="float-end">
                            <button class="btn btn-primary" (click)="addOrUpdate('add')">Add</button>
                        </div>
                        <div class="float-start">
                            <button class="btn btn-secondary" (click)="addOrUpdate('update')">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>